Warunki zadania:

Projekt w Pythonie lub R.

Projekty w pliku powinny zawierać następujące sekcje:

* nazwa zespołu;
* imiona i nazwiska członków zespołu;
* jasno wskazana prognoza punktowa procentowego wzrostu cen towarów i usług konsumpcyjnych według szybkiego szacunku GUS w maju 2023 r. w porównaniu z analogicznym miesiącem ub. roku;
* krótki opis zastosowanej metody: na czym polega model i wykorzystane zmienne;
* kod, który prowadzi do wyniku podanego w pkcie 3 wraz z danymi (jeśli uruchomię kod, to musi mi on dać wskazany wynik).

In [1]:
#Nazwa zespołu: InflaVision
#Autorka: Aleksandra Gomolka
#Indeks: 123034

In [2]:
import pandas as pd
from datetime import date

In [3]:
today = date.today()

In [23]:
inflation = pd.read_csv("data/inflacja.csv")

In [24]:
inflation.head()

    'label'  '2021'  '2022'  '2023'
0   Styczeń     2.6     9.4    16.6
1      Luty     2.4     8.5    18.4
2    Marzec     3.2    11.0    16.1
3  Kwiecień     4.3    12.4    14.7
4       Maj     4.7    13.9     NaN

In [25]:
inflation = inflation.rename(columns=lambda x: x[1:-1])

In [26]:
d = {'Year': [], 'Month': [], 'Inflation': []}
df = pd.DataFrame(data=d)

today = date.today()
mth = int(today.strftime("%m"))
mth

for year in inflation.columns[1::].tolist():
    for mthn in range(5): 
        df = pd.concat([df, pd.DataFrame({"Year":[year], "Month":[inflation.label[:mth].tolist()[mthn]], "Inflation":[inflation[year][mthn]]})], ignore_index = True)

In [27]:
inflation = df
inflation

    Year     Month  Inflation
0   2021   Styczeń        2.6
1   2021      Luty        2.4
2   2021    Marzec        3.2
3   2021  Kwiecień        4.3
4   2021       Maj        4.7
5   2022   Styczeń        9.4
6   2022      Luty        8.5
7   2022    Marzec       11.0
8   2022  Kwiecień       12.4
9   2022       Maj       13.9
10  2023   Styczeń       16.6
11  2023      Luty       18.4
12  2023    Marzec       16.1
13  2023  Kwiecień       14.7
14  2023       Maj        NaN

In [21]:
miesieczne_wskazniki_cen_towarow = pd.read_csv("data/miesieczne_wskazniki_cen_towarow_i_uslug_konsumpcyjnych_od_1982_roku-2.csv", encoding="cp1250", sep=";")

In [22]:
miesieczne_wskazniki_cen_towarow = miesieczne_wskazniki_cen_towarow[miesieczne_wskazniki_cen_towarow["Rok"] >= 2021]
miesieczne_wskazniki_cen_towarow

,Nazwa zmiennej,Jednostka terytorialna,Sposób prezentacji,Rok,Miesiąc,Wartość,Flaga,Unnamed: 7,Unnamed: 8
0,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,1,"102,5",NaN,NaN,NaN
1,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,2,"103,8",NaN,NaN,NaN
2,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,3,"104,9",NaN,NaN,NaN
3,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,4,"105,7",NaN,NaN,NaN
4,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
175,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,8,"105,3",NaN,NaN,NaN
176,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,9,"106,0",NaN,NaN,NaN
177,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,10,"107,1",NaN,NaN,NaN
178,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,11,"108,2",NaN,NaN,NaN
179,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,12,"109,2",NaN,NaN,NaN

In [29]:
miesieczne_wskazniki_cen_towarow['Wartość'] = miesieczne_wskazniki_cen_towarow['Wartość'].str.replace(',', '.')
miesieczne_wskazniki_cen_towarow['Wartość'] = miesieczne_wskazniki_cen_towarow['Wartość'].astype(float)
inflation["Month_No"] = 0
mth_list = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"]

for index, row in inflation.iterrows():
    inflation.at[index,'Month_No'] = mth_list.index(row["Month"])+1

In [30]:
for index, row in inflation.iterrows():
    df_wskazniki = miesieczne_wskazniki_cen_towarow.loc[miesieczne_wskazniki_cen_towarow["Rok"] == int(row["Year"])]
    df_wskazniki = df_wskazniki[df_wskazniki["Miesiąc"] == int(row["Month_No"])]
    mean_wartosc= (df_wskazniki["Wartość"]).mean()
    inflation.at[index,'Mies_wsk_cen_towarow'] = mean_wartosc

In [20]:
inflation

    Year     Month  Inflation  Month_No  Mies_wsk_cen_towarow
0   2021   Styczeń        2.6         1                101.92
1   2021      Luty        2.4         2                101.90
2   2021    Marzec        3.2         3                102.60
3   2021  Kwiecień        4.3         4                103.18
4   2021       Maj        4.7         5                103.36
5   2022   Styczeń        9.4         1                105.72
6   2022      Luty        8.5         2                104.88
7   2022    Marzec       11.0         3                107.60
8   2022  Kwiecień       12.4         4                108.60
9   2022       Maj       13.9         5                109.72
10  2023   Styczeń       16.6         1                109.36
11  2023      Luty       18.4         2                110.16
12  2023    Marzec       16.1         3                110.06
13  2023  Kwiecień       14.7         4                109.88
14  2023       Maj        NaN         5                   NaN