Warunki zadania:

Projekt w Pythonie lub R.

Projekty w pliku powinny zawierać następujące sekcje:

* nazwa zespołu;
* imiona i nazwiska członków zespołu;
* jasno wskazana prognoza punktowa procentowego wzrostu cen towarów i usług konsumpcyjnych według szybkiego szacunku GUS w maju 2023 r. w porównaniu z analogicznym miesiącem ub. roku;
* krótki opis zastosowanej metody: na czym polega model i wykorzystane zmienne;
* kod, który prowadzi do wyniku podanego w pkcie 3 wraz z danymi (jeśli uruchomię kod, to musi mi on dać wskazany wynik).

In [1]:
#Nazwa zespołu: InflaVision
#Autorka: Aleksandra Gomolka
#Indeks: 123034

In [2]:
import pandas as pd
today = date.today()

In [74]:
inflation = pd.read_csv("data/inflacja.csv")

In [75]:
inflation.head()

    'label'  '2021'  '2022'  '2023'
0   Styczeń     2.6     9.4    16.6
1      Luty     2.4     8.5    18.4
2    Marzec     3.2    11.0    16.1
3  Kwiecień     4.3    12.4    14.7
4       Maj     4.7    13.9     NaN

In [76]:
inflation = inflation.rename(columns=lambda x: x[1:-1])

In [77]:
d = {'Year': [], 'Month': [], 'Inflation': []}
df = pd.DataFrame(data=d)

today = date.today()
mth = int(today.strftime("%m"))
mth

for year in inflation.columns[1::].tolist():
    for mthn in range(5): 
        df = pd.concat([df, pd.DataFrame({"Year":[year], "Month":[inflation.label[:mth].tolist()[mthn]], "Inflation":[inflation[year][mthn]]})], ignore_index = True)

In [78]:
df

    Year     Month  Inflation
0   2021   Styczeń        2.6
1   2021      Luty        2.4
2   2021    Marzec        3.2
3   2021  Kwiecień        4.3
4   2021       Maj        4.7
5   2022   Styczeń        9.4
6   2022      Luty        8.5
7   2022    Marzec       11.0
8   2022  Kwiecień       12.4
9   2022       Maj       13.9
10  2023   Styczeń       16.6
11  2023      Luty       18.4
12  2023    Marzec       16.1
13  2023  Kwiecień       14.7
14  2023       Maj        NaN