Warunki zadania:

Projekt w Pythonie lub R.

Projekty w pliku powinny zawierać następujące sekcje:

* nazwa zespołu;
* imiona i nazwiska członków zespołu;
* jasno wskazana prognoza punktowa procentowego wzrostu cen towarów i usług konsumpcyjnych według szybkiego szacunku GUS w maju 2023 r. w porównaniu z analogicznym miesiącem ub. roku;
* krótki opis zastosowanej metody: na czym polega model i wykorzystane zmienne;
* kod, który prowadzi do wyniku podanego w pkcie 3 wraz z danymi (jeśli uruchomię kod, to musi mi on dać wskazany wynik).

In [1]:
#Nazwa zespołu: InflaVision
#Autorka: Aleksandra Gomolka
#Indeks: 123034

In [1]:
import pandas as pd
from datetime import date

In [3]:
today = date.today()

In [238]:
inflation = pd.read_csv("data/inflacja.csv")

In [239]:
inflation

        'label'  '2021'  '2022'  '2023'
0       Styczeń     2.6     9.4    16.6
1          Luty     2.4     8.5    18.4
2        Marzec     3.2    11.0    16.1
3      Kwiecień     4.3    12.4    14.7
4           Maj     4.7    13.9     NaN
5      Czerwiec     4.4    15.5     NaN
6        Lipiec     5.0    15.6     NaN
7      Sierpień     5.5    16.1     NaN
8      Wrzesień     5.9    17.2     NaN
9   Październik     6.8    17.9     NaN
10     Listopad     7.8    17.5     NaN
11     Grudzień     8.6    16.6     NaN

In [136]:
inflation = inflation.rename(columns=lambda x: x[1:-1])

In [ ]:
d = {'Year': [], 'Month': [], 'Inflation': []}
df = pd.DataFrame(data=d)

today = date.today()
mth = int(today.strftime("%m"))
mth

for year in inflation.columns[1::].tolist():
    for mthn in range(5): 
        df = pd.concat([df, pd.DataFrame({"Year":[year], "Month":[inflation.label[:mth].tolist()[mthn]], "Inflation":[inflation[year][mthn]]})], ignore_index = True)

In [270]:
inflation = pd.read_csv("data/inflacja.csv", sep=";")
inflation

    Year        Month  Inflation
0   2021      Styczeń        2.6
1   2021         Luty        2.4
2   2021       Marzec        3.2
3   2021     Kwiecień        4.3
4   2021          Maj        4.7
5   2021     Czerwiec        4.4
6   2021       Lipiec        5.0
7   2021     Sierpień        5.5
8   2021     Wrzesień        5.9
9   2021  Październik        6.8
10  2021     Listopad        7.8
11  2021     Grudzień        8.6
12  2022      Styczeń        9.4
13  2022         Luty        8.5
14  2022       Marzec       11.0
15  2022     Kwiecień       12.4
16  2022          Maj       13.9
17  2022     Czerwiec       15.5
18  2022       Lipiec       15.6
19  2022     Sierpień       16.1
20  2022     Wrzesień       17.2
21  2022  Październik       17.9
22  2022     Listopad       17.5
23  2022     Grudzień       16.6
24  2023      Styczeń       16.6
25  2023         Luty       18.4
26  2023       Marzec       16.1
27  2023     Kwiecień       14.7
28  2023          Maj        NaN

In [271]:
miesieczne_wskazniki_cen_towarow = pd.read_csv("data/miesieczne_wskazniki_cen_towarow_i_uslug_konsumpcyjnych_od_1982_roku-2.csv", encoding="cp1250", sep=";")

In [272]:
miesieczne_wskazniki_cen_towarow = miesieczne_wskazniki_cen_towarow[miesieczne_wskazniki_cen_towarow["Rok"] >= 2021]
miesieczne_wskazniki_cen_towarow

,Nazwa zmiennej,Jednostka terytorialna,Sposób prezentacji,Rok,Miesiąc,Wartość,Flaga,Unnamed: 7,Unnamed: 8
0,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,1,"102,5",NaN,NaN,NaN
1,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,2,"103,8",NaN,NaN,NaN
2,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,3,"104,9",NaN,NaN,NaN
3,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,4,"105,7",NaN,NaN,NaN
4,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Grudzień poprzedniego roku = 100,2023,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
175,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,8,"105,3",NaN,NaN,NaN
176,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,9,"106,0",NaN,NaN,NaN
177,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,10,"107,1",NaN,NaN,NaN
178,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,11,"108,2",NaN,NaN,NaN
179,Wskaźnik cen towarów i usług konsumpcyjnych,Polska,Rok poprzedni = 100,2021,12,"109,2",NaN,NaN,NaN

In [273]:
miesieczne_wskazniki_cen_towarow['Wartość'] = miesieczne_wskazniki_cen_towarow['Wartość'].str.replace(',', '.')
miesieczne_wskazniki_cen_towarow['Wartość'] = miesieczne_wskazniki_cen_towarow['Wartość'].astype(float)
inflation["Month_No"] = 0
mth_list = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"]

for index, row in inflation.iterrows():
    inflation.at[index,'Month_No'] = mth_list.index(row["Month"])+1
    if((int(mth_list.index(row["Month"])+1))<10):
        inflation.at[index,'Yr_Mnth'] = str(row["Year"]) + "-0" + str(mth_list.index(row["Month"])+1)
    elif((int(mth_list.index(row["Month"])+1))>=10):
         inflation.at[index,'Yr_Mnth'] = str(row["Year"]) + "-" + str(mth_list.index(row["Month"])+1)

In [274]:
for index, row in inflation.iterrows():
    df_wskazniki = miesieczne_wskazniki_cen_towarow.loc[miesieczne_wskazniki_cen_towarow["Rok"] == int(row["Year"])]
    df_wskazniki = df_wskazniki[df_wskazniki["Miesiąc"] == int(row["Month_No"])]
    mean_wartosc= (df_wskazniki["Wartość"]).mean()
    inflation.at[index,'Mies_wsk_cen_towarow'] = mean_wartosc

In [275]:
inflation

    Year        Month  Inflation  Month_No  Yr_Mnth  Mies_wsk_cen_towarow
0   2021      Styczeń        2.6         1  2021-01                101.92
1   2021         Luty        2.4         2  2021-02                101.90
2   2021       Marzec        3.2         3  2021-03                102.60
3   2021     Kwiecień        4.3         4  2021-04                103.18
4   2021          Maj        4.7         5  2021-05                103.36
5   2021     Czerwiec        4.4         6  2021-06                103.32
6   2021       Lipiec        5.0         7  2021-07                103.74
7   2021     Sierpień        5.5         8  2021-08                103.98
8   2021     Wrzesień        5.9         9  2021-09                104.46
9   2021  Październik        6.8        10  2021-10                105.22
10  2021     Listopad        7.8        11  2021-11                105.88
11  2021     Grudzień        8.6        12  2021-12                106.48
12  2022      Styczeń        9.4         1  2022-01                105.72
13  2022         Luty        8.5         2  2022-02                104.88
14  2022       Marzec       11.0         3  2022-03                107.60
15  2022     Kwiecień       12.4         4  2022-04                108.60
16  2022          Maj       13.9         5  2022-05                109.72
17  2022     Czerwiec       15.5         6  2022-06                110.80
18  2022       Lipiec       15.6         7  2022-07                110.96
19  2022     Sierpień       16.1         8  2022-08                111.56
20  2022     Wrzesień       17.2         9  2022-09                112.76
21  2022  Październik       17.9        10  2022-10                113.86
22  2022     Listopad       17.5        11  2022-11                113.96
23  2022     Grudzień       16.6        12  2022-12                113.78
24  2023      Styczeń       16.6         1  2023-01                109.36
25  2023         Luty       18.4         2  2023-02                110.16
26  2023       Marzec       16.1         3  2023-03                110.06
27  2023     Kwiecień       14.7         4  2023-04                109.88
28  2023          Maj        NaN         5  2023-05                   NaN

In [276]:
# wig20 = pd.read_csv("data/wig20.csv", parse_dates=['Date'], index_col='Date')
# eur_pln = pd.read_csv("data/Currency_EUR_PLN.csv", parse_dates=['Date'], index_col='Date')
# pln_eur = pd.read_csv("data/Currency_PLN_EUR.csv", parse_dates=['Date'], index_col='Date')
# pln_usd = pd.read_csv("data/currency_pln_usd.csv", parse_dates=['Date'], index_col='Date')
# usd_eur = pd.read_csv("data/currency_usd_eur.csv", parse_dates=['Date'], index_col='Date')
# usd_pln = pd.read_csv("data/currency_usd_pln.csv", parse_dates=['Date'], index_col='Date')

In [277]:
# wig20['Close_wig20'] = wig20['Close'].str.replace(',', '.').astype(float)
# wig20['Yr_Mnth']  = wig20.index.to_period('M')
# wig20=wig20.groupby(wig20['Yr_Mnth']).Close_wig20.mean().to_frame()
# wig20['y_m'] = wig20.index.astype(str)
# inflation = pd.merge(inflation, wig20,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
# inflation = inflation.drop(columns=["y_m"])

In [278]:
# eur_pln['Close_eur_pln'] = eur_pln['Close'].str.replace(',', '.').astype(float)
# eur_pln['Yr_Mnth']  = eur_pln.index.to_period('M')
# eur_pln = eur_pln.groupby(eur_pln['Yr_Mnth']).Close_eur_pln.mean().to_frame()
# eur_pln['y_m'] = eur_pln.index.astype(str)
# inflation = pd.merge(inflation, eur_pln,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
# inflation = inflation.drop(columns=["y_m"])

In [279]:
# pln_eur['Close_pln_eur'] = pln_eur['Close'].str.replace(',', '.').astype(float)
# pln_eur['Yr_Mnth']  = pln_eur.index.to_period('M')
# pln_eur = pln_eur.groupby(pln_eur['Yr_Mnth']).Close_pln_eur.mean().to_frame()
# pln_eur['y_m'] = pln_eur.index.astype(str)
# inflation = pd.merge(inflation, pln_eur,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
# inflation = inflation.drop(columns=["y_m"])

In [280]:
# pln_usd['Close_pln_usd'] = pln_usd['Close'].str.replace(',', '.').astype(float)
# pln_usd['Yr_Mnth']  = pln_usd.index.to_period('M')
# pln_usd = pln_usd.groupby(pln_usd['Yr_Mnth']).Close_pln_usd.mean().to_frame()
# pln_usd['y_m'] = pln_usd.index.astype(str)
# inflation = pd.merge(inflation, pln_usd,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
# inflation = inflation.drop(columns=["y_m"])

In [281]:
# usd_eur['Close_usd_eur'] = usd_eur['Close'].str.replace(',', '.').astype(float)
# usd_eur['Yr_Mnth']  = usd_eur.index.to_period('M')
# usd_eur = usd_eur.groupby(usd_eur['Yr_Mnth']).Close_usd_eur.mean().to_frame()
# usd_eur['y_m'] = usd_eur.index.astype(str)
# inflation = pd.merge(inflation, usd_eur,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
# inflation = inflation.drop(columns=["y_m"])

In [282]:
# usd_pln['Close_usd_pln'] = usd_pln['Close'].str.replace(',', '.').astype(float)
# usd_pln['Yr_Mnth']  = usd_pln.index.to_period('M')
# usd_pln = usd_pln.groupby(usd_pln['Yr_Mnth']).Close_usd_pln.mean().to_frame()
# usd_pln['y_m'] = usd_pln.index.astype(str)
# inflation = pd.merge(inflation, usd_pln,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
# inflation = inflation.drop(columns=["y_m"])

In [283]:
eurodisel = pd.read_csv("data/Olej_napedowy_EURODIESEL.csv", encoding="cp1250", sep=";", parse_dates=['Data'], index_col='Data')
eurodisel['PRICE_EURODISEL'] = eurodisel["Cena"].str.replace(' ', '').str.replace(',', '.').astype(float)
eurodisel['Yr_Mnth']  = eurodisel.index.to_period('M')
eurodisel = eurodisel.groupby(eurodisel['Yr_Mnth']).PRICE_EURODISEL.mean().to_frame()
eurodisel['y_m'] = eurodisel.index.astype(str)
inflation = pd.merge(inflation, eurodisel,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/2436744023.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  eurodisel = pd.read_csv("data/Olej_napedowy_EURODIESEL.csv", encoding="cp1250", sep=";", parse_dates=['Data'], index_col='Data')

In [284]:
eurodisel = pd.read_csv("data/Olej_napedowy_EURODIESEL.csv", encoding="cp1250", sep=";", parse_dates=['Data'], index_col='Data')
eurodisel['COST_EURODISEL'] = eurodisel["Oplata paliwowa"].str.replace(' ', '').str.replace(',', '.').astype(float)
eurodisel['Yr_Mnth']  = eurodisel.index.to_period('M')
eurodisel = eurodisel.groupby(eurodisel['Yr_Mnth']).COST_EURODISEL.mean().to_frame()
eurodisel['y_m'] = eurodisel.index.astype(str)
inflation = pd.merge(inflation, eurodisel,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/3876782903.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  eurodisel = pd.read_csv("data/Olej_napedowy_EURODIESEL.csv", encoding="cp1250", sep=";", parse_dates=['Data'], index_col='Data')

In [285]:
eurodisel = pd.read_csv("data/Olej_napedowy_EURODIESEL.csv", encoding="cp1250", sep=";", parse_dates=['Data'], index_col='Data')
eurodisel['COST_EURODISEL'] = eurodisel["Oplata paliwowa"].str.replace(' ', '').str.replace(',', '.').astype(float)
eurodisel['Yr_Mnth']  = eurodisel.index.to_period('M')
eurodisel = eurodisel.groupby(eurodisel['Yr_Mnth']).COST_EURODISEL.mean().to_frame()
eurodisel['y_m'] = eurodisel.index.astype(str)
inflation = pd.merge(inflation, eurodisel,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/3876782903.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  eurodisel = pd.read_csv("data/Olej_napedowy_EURODIESEL.csv", encoding="cp1250", sep=";", parse_dates=['Data'], index_col='Data')

In [286]:
gasoline_95 = pd.read_csv("data/benzyna_bezolowiowa_95.csv", sep=";", parse_dates=['Data'], index_col='Data')
gasoline_95['COST_95'] = gasoline_95["Oplata_paliwowa"].str.replace(' ', '').str.replace(',', '.').astype(float)
gasoline_95['Yr_Mnth']  = gasoline_95.index.to_period('M')
gasoline_95 = gasoline_95.groupby(gasoline_95['Yr_Mnth']).COST_95.mean().to_frame()
gasoline_95['y_m'] = gasoline_95.index.astype(str)
inflation = pd.merge(inflation, gasoline_95,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/2638529615.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  gasoline_95 = pd.read_csv("data/benzyna_bezolowiowa_95.csv", sep=";", parse_dates=['Data'], index_col='Data')

In [287]:
gasoline_95 = pd.read_csv("data/benzyna_bezolowiowa_95.csv", sep=";", parse_dates=['Data'], index_col='Data')
gasoline_95['PRICE_95'] = gasoline_95["Cena"].str.replace(' ', '').str.replace(',', '.').astype(float)
gasoline_95['Yr_Mnth']  = gasoline_95.index.to_period('M')
gasoline_95 = gasoline_95.groupby(gasoline_95['Yr_Mnth']).PRICE_95.mean().to_frame()
gasoline_95['y_m'] = gasoline_95.index.astype(str)
inflation = pd.merge(inflation, gasoline_95,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/1231648091.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  gasoline_95 = pd.read_csv("data/benzyna_bezolowiowa_95.csv", sep=";", parse_dates=['Data'], index_col='Data')

In [288]:
diesel_iz40 = pd.read_csv("data/Olej_napedowy_IZ-40.csv", sep=";", parse_dates=['Data'], index_col='Data')
diesel_iz40['PRICE_diesel'] = diesel_iz40["Cena"].str.replace(' ', '').str.replace(',', '.').astype(float)
diesel_iz40['Yr_Mnth']  = diesel_iz40.index.to_period('M')
diesel_iz40 = diesel_iz40.groupby(diesel_iz40['Yr_Mnth']).PRICE_diesel.mean().to_frame()
diesel_iz40['y_m'] = diesel_iz40.index.astype(str)
inflation = pd.merge(inflation, diesel_iz40,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/4088838089.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  diesel_iz40 = pd.read_csv("data/Olej_napedowy_IZ-40.csv", sep=";", parse_dates=['Data'], index_col='Data')

In [289]:
diesel_iz40 = pd.read_csv("data/Olej_napedowy_IZ-40.csv", sep=";", parse_dates=['Data'], index_col='Data')
diesel_iz40['COST_diesel'] = diesel_iz40["Oplata_paliwowa"].str.replace(' ', '').str.replace(',', '.').astype(float)
diesel_iz40['Yr_Mnth']  = diesel_iz40.index.to_period('M')
diesel_iz40 = diesel_iz40.groupby(diesel_iz40['Yr_Mnth']).COST_diesel.mean().to_frame()
diesel_iz40['y_m'] = diesel_iz40.index.astype(str)
inflation = pd.merge(inflation, diesel_iz40,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/687624417.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  diesel_iz40 = pd.read_csv("data/Olej_napedowy_IZ-40.csv", sep=";", parse_dates=['Data'], index_col='Data')

In [290]:
oze = pd.read_csv("data/oze.csv", sep=";", parse_dates=['Data'], index_col='Data')
oze['Cena_PMOZE'] = oze["Cena_PMOZE"].str.replace(' ', '').str.replace(',', '.').astype(float)
oze['Yr_Mnth']  = oze.index.to_period('M')
oze = oze.groupby(oze['Yr_Mnth']).Cena_PMOZE.mean().to_frame()
oze['y_m'] = oze.index.astype(str)
inflation = pd.merge(inflation, oze,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/2236549205.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  oze = pd.read_csv("data/oze.csv", sep=";", parse_dates=['Data'], index_col='Data')

In [291]:
oze = pd.read_csv("data/oze.csv", sep=";", parse_dates=['Data'], index_col='Data')
oze['CenaPMOZEBIO'] = oze["CenaPMOZE-BIO"].str.replace(' ', '').str.replace(',', '.').astype(float)
oze['Yr_Mnth']  = oze.index.to_period('M')
oze = oze.groupby(oze['Yr_Mnth']).CenaPMOZEBIO.mean().to_frame()
oze['y_m'] = oze.index.astype(str)
inflation = pd.merge(inflation, oze,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

/var/folders/gd/kyzdlh5x2bj6z9mv_q_r_mx40000gn/T/ipykernel_1108/577346994.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  oze = pd.read_csv("data/oze.csv", sep=";", parse_dates=['Data'], index_col='Data')

In [292]:
meat = pd.read_csv("data/mieso.csv", sep=";", encoding="cp1250", parse_dates=['Data'], index_col='Data')
meat['PRICE_bull'] = meat["ceny_bykow"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat['Yr_Mnth']  = meat.index.to_period('M')
meat = meat.groupby(meat['Yr_Mnth']).PRICE_bull.mean().to_frame()
meat['y_m'] = oze.index.astype(str)
inflation = pd.merge(inflation, meat,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

In [293]:
meat = pd.read_csv("data/mieso.csv", sep=";", encoding="cp1250", index_col='Data')
meat['PRICE_bull'] = meat["ceny_bykow"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat['PRICE_heifer'] = meat["ceny_jalowek"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat['PRICE_cow'] = meat["ceny_krow"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat['PRICE_bull_wbc'] = meat["ceny_bykow_wbc"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat['PRICE_heifer_wbc'] = meat["ceny_jalowek_wbc"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat['PRICE_cow_wbc'] = meat["ceny_krow_wbc"].str.replace(' ', '').str.replace(',', '.').astype(float)
meat = meat.drop(columns=["ceny_bykow", "ceny_jalowek", "ceny_krow", "ceny_bykow_wbc", "ceny_jalowek_wbc", "ceny_krow_wbc", "Month", "Year"])
# meat['Yr_Mnth']  = meat.index.to_period('M')
# meat = meat.groupby(meat['Yr_Mnth']).PRICE_bull.mean().to_frame()
meat['y_m'] = meat.index.astype(str)
inflation = pd.merge(inflation, meat,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

In [294]:
alco = pd.read_csv("data/alcohol.csv", sep=";", encoding="cp1250", index_col='Data')
alco['PRICE_Zubrowka'] = alco["Zubrowka"].str.replace(' ', '').str.replace(',', '.').astype(float)
alco['PRICE_Soplica'] = alco["Soplica"].str.replace(' ', '').str.replace(',', '.').astype(float)
alco['PRICE_Stock'] = alco["Stock"].str.replace(' ', '').str.replace(',', '.').astype(float)
alco['PRICE_Bacardi'] = alco["Bacardi"].str.replace(' ', '').str.replace(',', '.').astype(float)
alco['PRICE_rice'] = alco["Ryz"].str.replace(' ', '').str.replace(',', '.').astype(float)
alco = alco.drop(columns=["Zubrowka", "Soplica", "Stock", "Bacardi", "Ryz", "Month", "Year"])
alco['y_m'] = alco.index.astype(str)
inflation = pd.merge(inflation, alco,  how='left', left_on=['Yr_Mnth'], right_on = ['y_m'])
inflation = inflation.drop(columns=["y_m"])

In [243]:
inflation

,Year,Month,Inflation,Month_No,Yr_Mnth,Mies_wsk_cen_towarow,Close_wig20,Close_eur_pln,Close_pln_eur,Close_pln_usd,...,PRICE_heifer,PRICE_cow,PRICE_bull_wbc,PRICE_heifer_wbc,PRICE_cow_wbc,PRICE_Zubrowka,PRICE_Soplica,PRICE_Stock,PRICE_Bacardi,PRICE_rice
0,2021,Styczeń,2.6,1,2021-01,101.92,1989.7750,4.528772,0.220715,0.266085,...,6.86,4.82,13.70,13.12,10.83,21.99,30.99,42.99,49.99,3.43
1,2021,Luty,2.4,2,2021-02,101.90,1946.8475,4.497018,0.222353,0.268647,...,6.89,4.94,13.68,13.26,11.11,21.99,30.99,42.99,49.99,3.97
2,2021,Marzec,3.2,3,2021-03,102.60,1947.9925,4.613775,0.216739,0.257932,...,6.85,4.96,13.55,13.27,11.27,21.99,30.99,42.99,49.99,4.30
3,2021,Kwiecień,4.3,4,2021-04,103.18,1993.1960,4.558950,0.219282,0.261165,...,6.89,4.94,13.68,13.26,11.11,21.99,34.49,42.99,49.99,4.46
4,2021,Maj,4.7,5,2021-05,103.36,2141.3700,4.514852,0.221446,0.267940,...,6.86,4.97,13.60,13.30,11.38,21.99,34.49,42.99,49.99,4.54
5,2021,Czerwiec,4.4,6,2021-06,103.32,2245.6000,4.507108,0.221912,0.266663,...,7.18,5.23,14.61,13.96,12.17,21.99,34.49,42.99,49.99,4.59
6,2021,Lipiec,5.0,7,2021-07,103.74,2251.5840,4.557290,0.219491,0.258179,...,7.22,5.26,14.69,14.08,12.39,21.99,34.49,42.99,49.99,4.51
7,2021,Sierpień,5.5,8,2021-08,103.98,2288.8125,4.574954,0.218821,0.256306,...,7.29,5.40,15.06,14.25,12.51,21.99,34.49,42.99,49.99,4.63
8,2021,Wrzesień,5.9,9,2021-09,104.46,2343.4275,4.561944,0.219202,0.257659,...,7.85,5.87,16.27,15.41,13.38,21.99,34.49,42.99,49.99,4.63
9,2021,Październik,6.8,10,2021-10,105.22,2403.0240,4.592937,0.217610,0.251540,...,8.19,6.26,17.10,16.27,13.99,21.99,34.49,48.49,49.99,4.63
10,2021,Listopad,7.8,11,2021-11,105.88,2297.1750,4.659459,0.214562,0.244586,...,8.96,6.65,18.91,17.85,14.50,21.99,34.49,48.49,49.99,4.63
11,2021,Grudzień,8.6,12,2021-12,106.48,2216.1540,4.611308,0.216950,0.245438,...,8.74,6.49,18.01,17.33,14.89,22.50,34.49,48.49,49.99,4.63
12,2022,Styczeń,9.4,1,2022-01,105.72,2288.1500,4.548619,0.219796,0.248768,...,8.74,6.64,18.52,18.14,15.34,22.50,34.49,48.49,50.24,4.63
13,2022,Luty,8.5,2,2022-02,104.88,2122.9400,4.576087,0.218606,0.248791,...,9.06,6.79,19.03,18.14,15.79,22.50,34.49,48.49,50.49,4.63
14,2022,Marzec,11.0,3,2022-03,107.60,2041.7700,4.771586,0.209640,0.229275,...,10.33,8.48,21.36,20.12,18.60,22.50,34.49,48.49,50.99,4.63
15,2022,Kwiecień,12.4,4,2022-04,108.60,2034.8960,4.646829,0.215227,0.232751,...,10.49,8.73,21.84,20.85,19.41,24.49,34.49,48.49,51.99,4.63
16,2022,Maj,13.9,5,2022-05,109.72,1781.0275,4.648433,0.215078,0.227239,...,10.82,9.36,21.73,21.78,20.14,24.49,34.49,48.49,53.99,4.74
17,2022,Czerwiec,15.5,6,2022-06,110.80,1726.0425,4.642323,0.215445,0.227813,...,10.81,9.31,21.51,21.56,19.68,24.49,34.49,48.49,50.62,5.23
18,2022,Lipiec,15.6,7,2022-07,110.96,1694.4560,4.745683,0.210726,0.215486,...,10.80,9.10,21.14,21.19,19.11,24.49,34.49,48.49,50.99,5.23
19,2022,Sierpień,16.1,8,2022-08,111.56,1665.8550,4.712650,0.212182,0.214608,...,11.06,9.36,22.01,21.67,19.63,24.99,34.49,53.99,51.49,5.23
20,2022,Wrzesień,17.2,9,2022-09,112.76,1475.6060,4.758280,0.210492,0.208898,...,11.11,9.22,21.61,21.76,19.52,24.99,34.49,53.99,51.99,5.23
21,2022,Październik,17.9,10,2022-10,113.86,1421.0075,4.788652,0.208671,0.204995,...,11.24,9.38,21.49,21.62,18.99,24.99,34.49,53.99,51.99,5.23
22,2022,Listopad,17.5,11,2022-11,113.96,1688.6425,4.697200,0.213120,0.219012,...,11.28,9.25,21.80,21.73,19.07,24.99,34.49,53.99,49.99,5.23
23,2022,Grudzień,16.6,12,2022-12,113.78,1755.4400,4.684830,0.213516,0.226670,...,11.17,8.94,21.42,21.52,18.48,25.99,34.49,55.00,49.99,5.23
24,2023,Styczeń,16.6,1,2023-01,109.36,1895.8275,4.591275,0.218163,0.236073,...,11.13,8.95,21.40,21.52,17.99,25.99,34.49,55.40,49.99,5.23
25,2023,Luty,18.4,2,2023-02,110.16,1855.1850,4.751362,0.210626,0.226136,...,11.18,8.60,21.25,21.52,17.79,25.99,34.49,57.00,57.49,5.23
26,2023,Marzec,16.1,3,2023-03,110.06,1749.6660,4.707950,0.212888,0.228761,...,11.14,8.65,21.59,21.63,18.07,25.99,37.99,57.00,64.99,5.23
27,2023,Kwiecień,14.7,4,2023-04,109.88,1858.0575,4.673725,0.214503,0.238554,...,11.36,8.64,21.40,21.54,17.82,26.50,40.00,65.98,64.99,5.23
28,2023,Maj,NaN,5,2023-05,NaN,1946.2175,4.571813,0.219374,0.239451,...,11.30,8.76,21.48,21.64,17.95,27.99,48.99,62.99,54.99,5.72

In [295]:
X_train =  inflation.iloc[:-1].drop(columns=["Inflation", "Month", "Yr_Mnth", "Mies_wsk_cen_towarow"])
X_test = inflation.iloc[-1].drop(labels=["Inflation", "Month", "Yr_Mnth", "Mies_wsk_cen_towarow"])
X_test = pd.DataFrame(X_test).transpose()
y_train = inflation.iloc[:-1]["Inflation"]
y_test = inflation.iloc[-1]["Inflation"]

In [296]:
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X_train, y_train)  # perform linear regression
y_pred = linear_regressor.predict(X_test)  # make predictions

In [265]:
y_pred

array([14.60906431])

In [269]:
y_pred

array([13.79591233])